@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

nav {
	margin: 0px;
	padding: 12px;
	border-bottom: 1px solid #003366;
	color: #fff;
	background-color: #1560bd;
}

nav .user-name-label {
	color: #fffb9d;
}

nav .permission-label {
	margin-left: 24px;
	color: #fffb9d;
}

nav a:link, nav a:visited {
	margin-left: 24px;
	color: #fff;
	font-size: #fff;
}

article {
	margin: 0px;
	padding: 12px;
}

.message {
	font-weight: bold;
	color: #177245;
}

.error-message {
	font-weight: bold;
	color: #ce2029;
}

form.transition {
	margin: 24px 0;
}

form.transition input[type="submit"] {
	margin: 12px;
	padding: 6px 24px;
	font-size: 1.2em;
}

form.transition input[type="submit"]:hover {
	cursor: pointer;
}

h1 {
	padding: 6px 0;
	border-bottom: 3px solid #bbb;
	color: #555;
}

table {
	border-collapse: collapse;
}

th {
	padding: 4px;
	border: 1px solid #000;
	background-color: #ccc;
}

td {
	padding: 4px;
	border: 1px solid #000;
}